.container {
    width: 90vw;
    height: 70vh;
    max-width: 750px;
    margin: 0 auto;
    background-color: #AADBFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 2;
}

.tableContainer {
    width: 90%;
    height: 80%;
}

.shifter {
    height: fit-content;
    width: 25%;
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

.table {
    width: 100%;
    height: fit-content;
    display: table;
}

.tableRow {
    height: fit-content;
    display: table-row;
}

.tableCell {
    height: fit-content;
    display: table-cell;
    padding: 0;
}

.groupTab {
    height: fit-content;
    width: 25%;
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

.even {
    background-color: #f2efef;
}

.odd {
    background-color: #e2e2e2;
}

.tableCellTab {
    height: fit-content;
    width: 25%;
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    color: #696969;
}

.even2 {
    background-color: #f3f3f3;
}

.odd2 {
    background-color: #ffffff;
}