.weekHeaderContainer {
    position: absolute;
    left: 55%;
    top: 0;
    height: 100%;
    width: 45%;
    background-color: #eee;
}

.weekContainer {
    height: 50px;
    width: 100%;
    background-color: #eee;
}

.weekContainerBorder {
    border-top: 1px solid #AAA989;
}

.weekContainerItem {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 14%;
    text-align: center;
}

.weekContainerItemOffset {
    background-color: whitesmoke;
}

.star {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}